* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  width: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: linear-gradient(
    90deg,
    rgba(91, 177, 194, 1) 0%,
    rgba(63, 170, 164, 1) 35%,
    rgba(63, 170, 164, 1) 100%
  );
}

.app-header h1 {
  color: #fff;
  font-size: 2.4rem;
  padding: 3vh;
}

.input-container {
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.5rem;
}

.search-button {
  background-color: #fff;
  padding-left: 2vh;
  font-size: 3rem !important;
  height: 100%;
  color: #c5c3c3;
}

.user-icon {
  font-size: 3rem !important;
}
.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #dcd7d7;
  padding: 1vh;
  cursor: pointer;
}

.users div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.user-name {
  margin-left: 2vh;
}
.user-avatar {
  border-radius: 50px;
  border: 1px solid #dcd7d7;
  position: relative;
  margin-left: 1.5vh;
}

.user-icon {
  font-size: 3.3rem !important;
}
